In [1]:
downloadsRDD = sc.textFile("file:///home/aravindan81222/datafinal/*.gz")
downloadsRDD = downloadsRDD.map(lambda x: x.split(','))
def remove_quotation(x):
    return([xx.replace('"', '') for xx in x])
downloadsRDD = downloadsRDD.map(remove_quotation)

downloadsDF = spark.createDataFrame(data = downloadsRDD.filter(lambda x:x[0]!='date'),
schema = downloadsRDD.filter(lambda x:x[0]=='date').collect()[0])

from pyspark.sql.types import DateType, IntegerType
downloadsDF = downloadsDF.withColumn("date", downloadsDF["date"].cast(DateType()))
downloadsDF = downloadsDF.withColumn("size", downloadsDF["size"].cast(IntegerType()))
downloadsDF = downloadsDF.withColumnRenamed("r_os", "os")

downloadsDF.createOrReplaceTempView('packages')

In [4]:
#1
table1 = spark.sql('select count(ip_id),package from packages where package="ggplot2" group by package')
table1.show()
table1.registerTempTable("table1")
table1 = table1.withColumnRenamed("count(ip_id)", "total")
table1.select("total","package")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="tableone", keyspace="bdmassignment1")\
.save(mode="append")

+------------+-------+
|count(ip_id)|package|
+------------+-------+
|       38729|ggplot2|
+------------+-------+

In [5]:
#2
table2 = spark.sql('select count(ip_id),country,os from packages group by country,os order by count(ip_id) desc limit 1')
table2.show()
table2.registerTempTable("table2")
table2 = table2.withColumnRenamed("count(ip_id)", "total")
table2.select("total","country","os")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="tabletwo", keyspace="bdmassignment1")\
.save(mode="append")

+------------+-------+-------+
|count(ip_id)|country|     os|
+------------+-------+-------+
|      802562|     US|mingw32|
+------------+-------+-------+

In [10]:
#3
table3 = spark.sql('SELECT package,size FROM ( SELECT package, MAX(size) AS size FROM packages GROUP BY package) t ORDER BY size DESC limit 10')
table3.show()
table3.registerTempTable("table3")
table3.select("package","size")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="tablethree", keyspace="bdmassignment1")\
.save(mode="append")

+---------+---------+
|  package|     size|
+---------+---------+
|      h2o|122267950|
|     Boom| 79127753|
|TCGA2STAT| 68736856|
|      AWR| 63215126|
|       sf| 52423415|
|    rgdal| 39231992|
|   BANOVA| 35431648|
|   vapour| 31831792|
|     apcf| 30993471|
|   OpenMx| 30562453|
+---------+---------+

In [12]:
#4
table4 = spark.sql('select count(package),package from packages group by package order by count(package) desc limit 10')
table4.show()
table4.registerTempTable("table4")
table4 = table4.withColumnRenamed("count(package)", "total")
table4.select("total","package")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="tablefour", keyspace="bdmassignment1")\
.save(mode="append")

+--------------+-------+
|count(package)|package|
+--------------+-------+
|         55592|  rlang|
|         50448|   Rcpp|
|         45020| tibble|
|         40948| pillar|
|         39443|  dplyr|
|         39439|stringr|
|         39063|     R6|
|         38729|ggplot2|
|         38422|   yaml|
|         37598|  fansi|
+--------------+-------+

In [14]:
#5
table5 = spark.sql('select count(ip_id),time from packages group by time order by count(ip_id) desc limit 1')
table5.show()
table5.registerTempTable("table5")
table5 = table5.withColumnRenamed("count(ip_id)", "total")
table5.select("total","time")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="tablefive", keyspace="bdmassignment1")\
.save(mode="append")

+------------+--------+
|count(ip_id)|    time|
+------------+--------+
|        1164|06:22:40|
+------------+--------+

In [17]:
#6
table6 = spark.sql('select count(ip_id),package from packages where country="GB" group by package limit 5')
table6.show()
table6.registerTempTable("table6")
table6 = table6.withColumnRenamed("count(ip_id)", "total")
table6.select("total","package")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="tablesix", keyspace="bdmassignment1")\
.save(mode="append")

+------------+----------------+
|count(ip_id)|         package|
+------------+----------------+
|         167|         TH.data|
|         120|    RcppParallel|
|           1|            RSSL|
|           1|           rtson|
|           1|RYandexTranslate|
+------------+----------------+

In [19]:
#7
table7 = spark.sql('select count(ip_id),ip_id from packages group by ip_id order by count(ip_id) desc limit 5')
table7.show()
table7.registerTempTable("table7")
table7 = table7.withColumnRenamed("count(ip_id)", "total")
table7.select("total","ip_id")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="tableseven", keyspace="bdmassignment1")\
.save(mode="append")

+------------+-----+
|count(ip_id)|ip_id|
+------------+-----+
|      228763|    8|
|      187698|   18|
|      164673|   38|
|       19272| 3007|
|       18803|    1|
+------------+-----+

In [20]:
#8
table8 = spark.sql('select count(ip_id),os from packages group by os order by count(ip_id) desc limit 3')
table8.show()
table8.registerTempTable("table8")
table8 = table8.withColumnRenamed("count(ip_id)", "total")
table8.select("total","os")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="tableeight", keyspace="bdmassignment1")\
.save(mode="append")

+------------+------------+
|count(ip_id)|          os|
+------------+------------+
|     2000498|     mingw32|
|     1581058|   linux-gnu|
|      454098|darwin15.6.0|
+------------+------------+

In [21]:
#9
table9 = spark.sql('select count(ip_id),os from packages group by os order by count(ip_id) desc')
table9.show()
table9.registerTempTable("table9")
table9 = table9.withColumnRenamed("count(ip_id)", "total")
table9.select("total","os")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="tablenine", keyspace="bdmassignment1")\
.save(mode="append")

+------------+---------------+
|count(ip_id)|             os|
+------------+---------------+
|     2000498|        mingw32|
|     1581058|      linux-gnu|
|      454098|   darwin15.6.0|
|      120588|   darwin13.4.0|
|      120413|             NA|
|        9407|   darwin18.2.0|
|        2410|   darwin17.7.0|
|        1883|   darwin16.7.0|
|        1871|linux-gnueabihf|
|        1661|   darwin17.6.0|
|         861|   darwin17.4.0|
|         641|   darwin18.0.0|
|         338|   darwin11.4.2|
|         322|   darwin10.8.0|
|         264|   darwin15.5.0|
|         222|   darwin17.5.0|
|         198|   darwin16.1.0|
|         165|   darwin17.3.0|
|         147|   darwin14.5.0|
|          44|   darwin16.6.0|
+------------+---------------+
only showing top 20 rows

In [22]:
#10
table10 = spark.sql('select count(ip_id),country from packages group by country order by count(ip_id) desc')
table10.show()
table10.registerTempTable("table10")
table10 = table10.withColumnRenamed("count(ip_id)", "total")
table10.select("total","country")\
.write.format("org.apache.spark.sql.cassandra")\
.options(table="tableten", keyspace="bdmassignment1")\
.save(mode="append")

+------------+-------+
|count(ip_id)|country|
+------------+-------+
|     1776597|     US|
|      352318|     NA|
|      324601|     CA|
|      152275|     DE|
|      146479|     GB|
|      127671|     IN|
|      111794|     HK|
|      103439|     JP|
|      101058|     CN|
|       83768|     FR|
|       81804|     ES|
|       67038|     NL|
|       63396|     AU|
|       56621|     CO|
|       54046|     CH|
|       46061|     MX|
|       44640|     IT|
|       39300|     BR|
|       38021|     KR|
|       35978|     PL|
+------------+-------+
only showing top 20 rows